<% provide(:title, "") %>

<div class="center main-title">
  <h1 class="title">Praise Him with the Strings</h1>
  <h2>
      This worship app is FREE =>
      <%= link_to "Sign up", signup_path, class: "btn" %>
  </h2>
</div>

<div class="center alphabets">
    <% ('a'..'z').to_a.length.times do |t| %>
      <%= link_to ('a'..'z').to_a[t], singers_path(alphabet_id: ('a'..'z').to_a[t])  %>
    <% end %>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword, class: 'form-control' %>
      <%= f.select :range, options_for_select([['Singer'], ['Song']]), { include_blank: '*Please Selected' }, { id: "range", class: "form-control" } %>
      <%= f.submit "Search", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="center">
  <h2>テストユーザー用</h2>
  <h2>メールアドレス：　test@test.com</h2>
  <h2>パスワード：　test1234</h2>
  <h2>検索してほしい楽曲</h2>
  <h2>Singer：　jworship</h2>
  <h2>Song：　hanamo</h2>
</div>

<%= render 'shared/logo' %>